body {
  background-color: #ffffe0;
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 1.8;
  background-color: lightgrey;
  width: 800px;
  border: 15px solid #4f80d3;
  padding: 50px;
  margin: 20px;
  background-image: ;
}
